body {
  background-color: #015f41;
  text-align: center;
}
header {
  margin-bottom: 14vmax;
  margin-bottom: 8vmin;
  color: #dfdd25;
}
span h2 {
  color: white;
}
.computer {
  text-align: center;
}
button {
  margin-left: 3vh;
  border: none;
  background-color: aqua;
  padding: 0 2vh 0 2vh;
  font-size: medium;
}
aside {
  display: flex;
  color: white;
  font-size: larger;
  justify-content: flex-start;
}
.cBank,
.pBank {
  display: block;
}
.play,
.com {
  margin-left: 7vmax;
}

div {
  margin: 0;
  padding: 0;
}
section > h3 {
  font-size: large;
  color: white;
}
